    <% unless current_user == @user %>
        <%= link_to "Add Connection", connections_path(:connection_id => @user), :method => :post %>
    <% end %>

    <h4>connections</h4>
    <ul>
        <% @user.connections.each do |connection| %>
        <li>
          <%= connection.email %> 
          <% if current_user == @user %>
            <%= link_to "Remove", connection_path(:id => connection), :method => :delete %>
          <% end %>
        </li>
      <% end %>
    </ul>

    <% if current_user == @user %>
        <h4>Connection Requests</h4>
        <ul>
            <% @user.requested_connection.each do |request| %>
            <li>
              <%= request.email %> 
              <%= link_to "Accept", connection_path(:id => request), :method => "put" %> 
              <%= link_to "Decline", connection_path(:id => request), :method => :delete %>
            </li>
          <% end %>
        </ul>
    <% end %>
