<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @connection.user_id %>
</p>

<p>
  <strong>Connection:</strong>
  <%= @connection.connection_id %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @connection.approved %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
