<p id="notice"><%= notice %></p>
<h1>User List</h1>
<div id="users">
  <% user_selection = [] %>
  <% for user in @users %>
    <% if user != current_user %>
      <div class="user">
        <p>
          <% @mang = friends_already(user) %>
          <% if @mang.count == 0 %>
            <% @friend = show_non_friends(user) %>
            <% if @friend.count == 0 %>
             <% user_selection.push(user) %>
            <% end %>
          <% end %>
        </p>
      </div>
    <% end %>
  <% end %>
  <% if user_selection.count != 0 %>
    <% user = user_selection.sample %>
    <strong><%= user.first_name %></strong>
    <%= link_to "Add Friend", connections_path(:friend_id => user), :method => :post %> 
    <%= link_to "Accept", connection_path(@pending_request.first.id), method: :patch %>
          <%= link_to "Decline", connection_path(@pending_request.first.id), method: :delete %>
  <% else %>
    No users to select from
  <% end %>
</div>

        <!-- <strong><%= user.first_name %></strong>
        <% @connection = Connection.where('user_id = ? AND friend_id = ?', current_user.id, user.id) %>
        <% if @connection.count == 0 %>
          <%= link_to "Add Friend", connections_path(:friend_id => user), :method => :post %> 
        <% end %>
        <% @accept = Connection.where('friend_id = ? AND user_id = ? AND status = ?', current_user.id, user.id, 'pending') %>
        <% if @accept.count == 1 %>
          <%= link_to "Accept", connection_path(@accept.first), :method => :patch %>
        <% end %> -->

        <!-- <% @pending_request = show_pending_friends(user) %>
        <% if @pending_request.count == 1 %>
          
        <% end %> -->