<h2>Connections</h2>
<ul>
  <% for connection in @user.connections %>
    <li>
      <%=h connections.connection.first_name %>
      (<%= link_to "remove", connection, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Connections", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.first_name %></li>
  <% end %>
</ul>


<h2>Connections</h2>
<ul>
  <% for connection in @user.connections %>
    <li>
      <%=h connection.friend.first_name %>
      (<%= link_to "remove", connection, :method => :delete %>)
    </li>
  <% end %>
</ul>


<p><%= link_to "Find Connections", users_path %></p>

<h2>Connections Started by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.first_name %></li>
  <% end %>
</ul>

<%= link_to 'Back', users_path %>


