<nav class="navbar">
  <p class="navbar-item is-text-centered">
    <img src = "/assets/search.png" alt="">
  </p>
  <p class="navbar-item is-text-centered">
    <%= link_to image_tag("/assets/waves.png"), users_path, class: "link is-info" %>
  </p>
  <p class="navbar-item is-text-centered logo">
    <%= link_to image_tag("/assets/logo.png"), root_path %>
  </p>
  <p class="navbar-item is-text-centered">
    <% if current_user %>
      <%= link_to "Sign Out", signout_path, class: "link is-info" %>
    <% else %>
      <%= link_to "Sign Up", new_user_path, class: "link is-info" %>
    <% end %>
  </p>
  <p class="navbar-item is-text-centered">
    <% if current_user %>
    <%= link_to "#{current_user.full_name}", user_path(session[:user_id]), class: "link is-info" %>
    <% else %>
      <%= link_to "Login", new_session_path, class: "link is-info" %>
    <% end %>
  </p>
</nav>


