<!DOCTYPE html>
<html>
<head>
  <title>Bandr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Yellowtail|Damion' rel='stylesheet' type='text/css'>
  
</head>
<div class='container'>
  <body>
    <%= render 'layouts/navbar' %>
      <div>
          <%= render 'layouts/sidebar' %>
      </div>
      <%= yield %>
    </body>
  </div>
</html>
