<!DOCTYPE html>
<html>
<head>
  <title>Bandr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Yellowtail|Damion' rel='stylesheet' type='text/css'>
</head>
<div class='container'>
  <body>
      <div>
        <% if current_user %>
          Signed in as <strong><%= current_user.first_name %></strong>! (<%= link_to "Log out", session_path("current"), method: :delete %>)
        <% else %>
          <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %>
        <% end %>
      </div>
      <%= render 'layouts/navbar' %>

      <%= render 'layouts/sidebar' %>

       <%= yield %>
    </body>
  </div>
</html>