<!DOCTYPE html>
<html>
<head>
  <title>Bandr</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.sidr/2.2.1/stylesheets/jquery.sidr.dark.min.css">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Yellowtail|Damion' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa:700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  <script type="text/javascript" src="https://stratus.soundcloud.com/stratus.js"></script>
  <link rel="stylesheet" type="text/css" src="assets/jquery.fullPage.css" />
  <script type="text/javascript" src="assets/jquery.fullpage.min.js"></script>
  <script type="text/javascript" src="https://stratus.soundcloud.com/stratus.js"></script>
<meta name="viewport" content="width=device-width,minimum-scale=1">
</head>
<body>
  <div id="wrapper">
    <%= render 'layouts/navbar' %>

    <% if current_user %>
      <%= render 'layouts/sidebar' %>
      <%= render 'layouts/messagebar' %>
    <% end %>

    <%= yield %>

  </div>

  <script src="//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>

  <script>

    $(document).ready(function() {

        $('#other-menu').sidr({
          name: 'msg_sidr',
          side: 'left'
        });
        $('#simple-menu').sidr({
          name: 'sidr',
          side: 'right'
        });

        $('.startButton').on('click', function() {

          $('#bgimg').slideDown(1200, function() {
                // Animation complete.
          });

          $(this).remove();

          $("#show")
            .css("display", "flex")
            .hide()
            .fadeIn(1500, function() {
                //Animation complete
          });

          $(".flex-item h1").addClass('move_up');

        });

        $('#bgvid').on('ended', function () {
          this.load();
          this.play();
        });


  
});

    
  </script>

</body>
</html>
